<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="SystemName" value="串口设备模拟系统"/>
    <add key="Version" value="2016.10.20"/>
    <add key="CopyRight" value="@Copyright Wyh"/>
    <add key="PageSize" value="10"/>
    <add key="Port" value="COM2"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="LOG_Directory" value="C:\Log"/>
  </appSettings>
</configuration>